.card-busca {
  max-width: 320px;
  background-color: #fff;
  border-radius: 12px;
  margin:  30px 10px;
  .card-title{
    margin: 0 10px;

  }
  button {
    width: 100%;
    margin: 0 16px 48px;
  }

}
